ai-wardrobe.ru, www.ai-wardrobe.ru {
    encode gzip

    @api path /api/*
    handle @api {
        reverse_proxy localhost:4000
    }

    @uploads path /uploads/*
    handle @uploads {
        reverse_proxy localhost:4000
    }

    @ws path /ws/*
    handle @ws {
        reverse_proxy localhost:4000
    }

    handle {
        reverse_proxy localhost:3000
    }
}
