{
    email ra1606olhk@gmail.com
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

http://ai-wardrobe.ru, http://www.ai-wardrobe.ru {
    redir https://{host}{uri} 308
}

https://ai-wardrobe.ru, https://www.ai-wardrobe.ru {
    encode gzip

    @api path /api/*
    handle @api {
        reverse_proxy localhost:4000
    }

    @uploads path /uploads/*
    handle @uploads {
        reverse_proxy localhost:4000
    }

    @ws path /ws/*
    handle @ws {
        reverse_proxy localhost:4000
    }

    handle {
        reverse_proxy localhost:3000
    }
}
