PORT =
DATABASE_URL_DEV =
JWT_ACCESS =
JWT_REFRESH = 
GIGACHAT_CREDENTIALS =
GIGACHAT_SCOPE = GIGACHAT_API_PERS
GIGACHAT_MODEL = GigaChat
GIGACHAT_BASE_URL = https://gigachat.devices.sberbank.ru/api/v1/
GIGACHAT_TIMEOUT = 60
GIGACHAT_INSECURE = true

-------------------

PORT=3001
DATABASE_URL_DEV=postgres://postgres:3942@127.0.0.1:5432/AIfridge
NODE_ENV=development
JWT_ACCESS='A'
JWT_REFRESH='R'
GIGACHAT_CREDENTIALS=MDE5ZDk2NDMtNWY2Ny03MGZmLWJjYzQtY2FmOTZiNWIwZTViOjdmNGYzZWM0LTQ0MjMtNDNjYi05ZTRjLTE4NzUzZDdkZTUyYQ==
GIGACHAT_SCOPE=GIGACHAT_API_PERS
