PORT= порт сервера
DATABASE_URL_DEV= адрес локальной базы
JWT_ACCESS=
JWT_REFRESH=

GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=
GIGACHAT_INSECURE=

GEMINI_API_KEY=
OPENAI_API_KEY=

DATABASE_URL_PROD= адрес облачной базы

NODE_ENV= production/development

